.select{
  font-size: 10px;
  font-weight: 600;
  background-color: rgba(10, 187, 135, 0.1);
  color: #0abb87;
  padding: 6px 10px;
  border: none;
  border-radius: 2px;
  outline: none;
}
.select:hover{
  background-color: #0abb87;
  color: #ffffff;
}